:root {
    --yellow: #FDB824; 
    --black: #3E3E3E;
    --gray1: #E8E8E8;
    --gray2: #C3C3C3;
    --grayInputLogin: #767676;
    --brown: #624B0F;
}


body {
	background-color: var(--yellow); 
	font-family: 'Roboto', sans-serif;
}

a {
	display: inline-block;
	color: var(--grayInputLogin);
	text-decoration: underline;
	font-size: .8em;
}

a:hover {
	color: var(--brown);
}

.input {
	border: 1px solid var(--gray2);
	height: 35px;
	padding: 5px;
	color: var(--gray1);
	background-color: transparent;
	outline-color: var(--yellow);
	width: 70%;
    display: inline-block;
}
.input-file-wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
}
.input-file {
    padding: 5px;
    background: transparent;
    border: 1px solid var(--gray2);
    display: inline-block;
    color: #fff;
    cursor: pointer;
    height: 35px;
    margin-left: 5px;
}

.input-file:hover {
	
	background-color: var(--brown);
}

input[type="file"] {
    display: none;
}

.content {
	display: flex;
	align-items: center;
    justify-content: center;
    height: 100vh;
}

.upload-form, .login-form, .register-form {
	width: 30%;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
} 

.upload-form {
	background-color: var(--black);
}

.upload-title {
	color: var(--yellow);
	text-transform: uppercase;
}

.login-form, .register-form {
	background-color: var(--gray1);
	
}

.login-form img {
	margin-top: 15px;
}

.login-form .input, .register-form .input {
	color: var(--grayInputLogin);
	width: 85%;
}

.login-form button, .register-form button {
	display: inline-block;
	outline-color: var(--yellow);
	background-color: var(--yellow);
	border: none;
	padding: 10px 15px;
	height: 47px;
	text-transform: uppercase;
	font-weight: bold;
	width: 50%;
	cursor: pointer;
	color: var(--brown);
	border: 1px solid transparent;
}

.login-form button:hover, .register-form button:hover {
	border: 1px solid var(--brown);
}

.item {
	width: 88%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.register-form .title{
	text-transform: uppercase;
	color: var(--grayInputLogin);
}