<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Chuck App</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" th:href="@{styles.css}">
</head>
<body>
	<div class="content">
		<div class="upload-form">
			<h2 class="upload-title">Sube un Archivo</h2>
			<img alt="file" th:src="@{img/file-icon.png}" width="128px" />
			
			<div class="input-file-wrapper">			
				<input class="input" type="text" placeholder="elija un archivo..." />
				<label class="input-file">
					<input type="file" />
					<img alt="upload" th:src="@{img/upload-icon-2.png}" width="34px"/>
				</label>
			</div>
		</div>
		<div class="login-form">
			<img alt="user" src="@{img/user-icon.png}" /> 
			<input type="text" placeholder="usuario..." /> 
			<input type="password" placeholder="contraseña..." />
			<button type="submit">iniciar sesión</button>
			<span>No tengo una cuenta</span>
		</div>
	</div>
</body>
</html>