<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>File App</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" th:href="@{styles.css}">
</head>
<body>
	<div class="content">
		<div th:replace="fragments/upload.html :: upload"></div>
		<div th:replace="fragments/login.html :: login"></div>
	</div>
	<script th:src="@{js/app.js}"></script>
</body>
</html>